<app-header>    </app-header>       <!-- header da aplicação -->

<router-outlet> 
    <mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')" style=" height: 100vh; background-color: transparent; position: fixed;  ">
        <!-- <p>
            <button mat-button (click)="sidenav.open()">
                <mat-icon>menu</mat-icon>
            </button>
            <a style="color: whitesmoke; text-decoration: none;" [routerLink]="['/home']">HOME</a>
        </p> -->
        
        <mat-sidenav #sidenav (keydown.escape)="close('escape')" style="" disableClose>
            <div style="width: 100%; height: 50px; background-color: transparent;">
                <!-- <p style="color: black;">
                    <i class="material-icons" >account_circle</i>
                    User:
                </p> -->
                <p style="direction: rtl; color: black;"> 
                    <mat-icon class="closeSide" style="color: rgb(196, 196, 196); cursor: pointer;" mat-button (click)="close('toggle button')">
                        close
                    </mat-icon> 
                </p>
                <i class="material-icons" style="font-size: 42px;color: black;  margin-top: -38px; position: absolute;">account_box</i> 
                <span style=" color: black; margin-top: -35px; position: absolute; left: 55px;"> 
                    <span style="top: -5px; position: relative;">
                        Renan Barbosa
                        <br>
                        <small>  Id: 123456798 </small> 
                    </span>
                </span>
            </div>
            
            <hr>
    
            <div style="padding: 15px; width: 80%; height: 80%; background-color: transparent;">
                <p> <a [routerLink]="['/home']"> <mat-icon>subdirectory_arrow_right</mat-icon> Home </a> </p>
                <p> <a [routerLink]="['/start']"> <mat-icon>subdirectory_arrow_right</mat-icon> Iniciar</a> </p>
                <p> <a [routerLink]="['/registry-word']"> <mat-icon>subdirectory_arrow_right</mat-icon> Cadasdrar palavra </a> </p>
                <p> <a [routerLink]="['/list-word']"> <mat-icon>subdirectory_arrow_right</mat-icon> Listar</a> </p>
            </div>
        </mat-sidenav>    
    </mat-sidenav-container>
</router-outlet>    <!-- renderização do roteamento da aplicação -->

<app-footer>    </app-footer>       <!-- roda pe´da aplicação -->
