<div class="start-page-works">
    <div class="wrap-content-start-page">
        <h1>en-Memory Card</h1>
        <hr>
        <div class="wrap-img-start-page">
            <img src="../../assets/ship.svg" width="200 " height="200" alt="">
        </div>
        <div class="example-button-row">
            <button mat-raised-button color="primary">Cadastrar palavra</button>
            <button mat-raised-button color="primary">Start</button>
            <button mat-raised-button color="primary">Lista de palavras</button>
        </div>
    </div>
</div>
