/*  
* style.css contem os estilos globais
*/

a{
    color: whitesmoke;
}

/* seta dimension title-start-page ## h1 */
.title-start-page
{
    width: 100%;
    height: 50px;
    /* background-color: blueviolet; */
    text-align: center;
    display: inline-block;
    text-align: center;
}

.title-start-page > h1
{
    display: inline-block;
    word-break: normal;
    background-color: white; 
    width: 100%; 
    height:100%; 
    background: white;
    font: bold 40px arial, sans-serif;
    background-color: #565656;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}

.img-start-page
{
    width: 100%;
    height: auto;
    display: flex;
    /* background-color: black; */
}

img{
    margin: auto;
    /* background-color: aquamarine; */
}


/* seta dimension start-page-buttons   ### BUTTON ### */
.start-page-buttons
{
    width: 100%;
    height: auto;
    /* background-color: beige; */
}
/* seta dimension start-page-buttons ### BUTTON ### */

.example-button-row
{
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-raised-button
{
    margin: 8px;
}
 
.example-button-row > button
{
    margin: 8px;
}
/* seta dimension start-page-buttons */