<div class="start-page">
    <div class="wrap-content-start-page">
        <div class="title-start-page">
            <h1>en-Memory Card</h1> 
            <hr>
        </div>   
        
        <div class="img-start-page">
            <img src="../../assets/ship.svg" width="180" height="180" alt="">
        </div>

        <div class="start-page-buttons">
            <div class="example-button-row">
                <div class="page-buttons"><button mat-raised-button color="primary">Iniciar</button></div>
                <div class="page-buttons"><button mat-raised-button color="primary"><a href="/registry-word">Cadastrar palavra</a></button></div>
                <div class="page-buttons"><button mat-raised-button color="primary">Listar palavras</button></div>
            </div>
        </div>
    </div>
</div>
